<%= form_for(@pdk) do |f| %>
  <% if @pdk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pdk.errors.count, "error") %> prohibited this pdk from being saved:</h2>

      <ul>
      <% @pdk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
