<% provide(:title, (params[:action]+' '+params[:controller].singularize).split.map(&:capitalize).join(' ')) %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stipple.name %>
</p>

<p>
  <strong>Pattern:</strong>
    <%= render 'pattern_show' %>
</p>

<%= link_to 'Edit', edit_stipple_path(@stipple) %> |
<%= link_to 'Back', stipples_path %>
