<% provide(:title, (params[:action]+' '+params[:controller].singularize).split.map(&:capitalize).join(' ')) %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @display.name %>
</p>

<p>
  <strong>Stipple:</strong>
  <%= @display.stipple_id %>
</p>

<p>
  <strong>Fill:</strong>
  <%= @display.fill_color.name %>
</p>

<p>
  <strong>Border:</strong>
  <%= @display.border_color.name %>
</p>

<%= link_to 'Edit', edit_display_path(@display) %> |
<%= link_to 'Back', displays_path %>
