<% provide(:title, (params[:action]+' '+params[:controller].singularize).split.map(&:capitalize).join(' ')) %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cadence_purpose.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @cadence_purpose.number %>
</p>

<%= link_to 'Edit', edit_cadence_purpose_path(@cadence_purpose) %> |
<%= link_to 'Back', cadence_purposes_path %>
