<header class="navbar navbar-fixed-top nav-top"> 
    <div class="container">
      <div class="title"><%= title(yield(:title)) %></div> 
      <nav>
        <ul class="nav pull-right">
          <li class="<%= 'selected' if params[:action] == 'home'    %> "><%= link_to "<i class='fa fa-home'></i> Home".html_safe,    root_path   %></li>
          <li class="<%= 'selected' if params[:action] == 'about'   %> "><%= link_to "<i class='fa fa-info-circle'></i> About".html_safe,   about_path    %></li>
          <li class="<%= 'selected' if params[:action] == 'contact' %> "><%= link_to "<i class='fa fa-envelope'></i> Contact".html_safe, contact_path %></li>
        </ul>
      </nav>
    </div>
</header>

