<div class="navbar-side">  
  <ul class="nav nav-tabs nav-stacked">
    <li class="active"><a href="#">PDKs</a></li>
    <li><%= link_to "Layers",      layers_path  %></li>
    <li><%= link_to "Displays",    displays_path  %></li>
    <li><%= link_to "Stipples",    stipples_path  %></li>
    <li><%= link_to "Colors",      colors_path    %></li>
  </ul>
<%= render 'layouts/footer' %>
</div>
