<!DOCTYPE html>
<html>
  <head>
    <title><%= title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", "data-turbolinks-track" => true %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
      <%= render 'layouts/header' %>
      <%= render 'layouts/sidebar' %>
      <div class="container-fluid main">
              <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>"><%= value %></div>
              <% end %>
              <%= yield %>
      <% if Rails.env.development? %>
        <p>
        <%= debug(params) %>
        </p>
      <% end %>
      </div> <!-- /container -->
      <%= render 'layouts/footer' %>
      
  </body>
</html>

